{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Classe creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('classe') }}">
            Retourner à la liste
        </a>
    </li>
</ul>
{% endblock %}
