{% extends "::base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <h2>Je suis la page d'accueil. Je me trouve dans: <b><i>School/GestionBundle/Resources/views/Default</i></b></h2>
    <p>
        Pour un début faisons des pages simples utilisant les couleurs par défaut.
    </p>
    <p><a href="#">{{webmaster}}</a></p>
{% endblock %}