{% extends "::base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <h2>Je suis la page d'accueil. Je me trouve dans</h2>
    <h3><b><i>School/GestionBundle/Resources/views/Default</i></b></h3>
    <h3>je suis en outre le Bundle de base de l'application</h3>
    <p>
        Pour un début faisons des pages simples utilisant les couleurs par défaut.
    </p>
    <div class="footer footer-copyright" style="bottom: 0; position: fixed; width: 100%"><a href="#">{{webmaster}}</a></div>
{% endblock %}