Privilège: 
<h3>{{droit.nom}}</h3>
<hr style="border:  2px solid black">
Ayant(s) droit:
<h5><b>{{droit.membreDuDroit}}</b></h5>
<hr style="border:  1px solid black">
Description:
<h5>{{droit.description}}</h5>