{% extends 'SchoolGestionBundle:Default:index.html.twig' %}

{% block content -%}
    <h1 class="text-center">Nouvel Enseignement</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('estdispense') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
