{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Enregistrement d'un nouvel enseignant</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('enseignant') }}">
            Retourner à la liste
        </a>
    </li>
</ul>
{% endblock %}
